[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/home/apptoaster/venv_linux/bin/uwsgi -i /home/apptoaster/run/uwsgi/apptoaster.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
