<header id="header" class="header header--dark header-transparent header--sticky">
    <nav id="navigation" class="header-nav">
        <div class="container">
            <div class="row d-flex flex-md-row align-items-center">
                <div class="logo mr-auto">
                    <img src="static/apptoaster/images/logo/logo_black.png" style="width: 200px;">
                </div>

                <div class="nav-menu ml-auto">
                    <ul class="">
                        <li class="nav-menu-item">
                            PUSH 메세지
                        </li>
                    </ul>
                </div>
                
                <div class="nav-menu">
                    <ul class="">
                        <li class="nav-menu-item">
                            <a href="#"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>