<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
</body>
<script>
        window.onload = () => {
            Swal.fire({
                title: '성공',
                html: '푸시 발송(예약)에 성공하였습니다.<br>' + 
                '잠시후 창이 자동으로 닫힙니다.',
                icon: 'success',
                showCancelButton: true,
                confirmButtonText: `닫기`,
            }).then((result) => {
                if (result.isConfirmed) {
                    window.close();
                }
            });

            setTimeout(() => window.close(), 3000);
        }
</script>
</html>